<!-- <img src="E:\Catalent-myapp\Catalent\src\assets\icon\catalent_logo.png" alt="Logo cannot be Displayed" />     -->
  <div >
    <div class="form-input">
      <ion-item>
        <ion-label>User Name :</ion-label>
        <ion-input type="text" placeholder="Enter User Name"></ion-input>
      </ion-item>
    </div>
    <div class="form-input">
      <ion-item>
        <ion-label>Password :</ion-label>
        <ion-input type="password" placeholder="Enter Password"></ion-input>
      </ion-item>
    </div>
    <div class="form-input">
      <ion-item>
        <!-- <ion-button routerLink="/welcome">Sign In</ion-button> -->
        <ion-button (click)="goToPage()">Sign In</ion-button>
      </ion-item>
    </div>
  </div>