
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>Work Orders</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let work of workOrders">
    <ion-grid>
      <ion-card-title color="tertiary">
        <ion-icon name="filter-circle"></ion-icon>{{work.orderDescription}}
      </ion-card-title>
      <ion-card-content>
        <ion-row> {{work.costCenter}} | "{{work.typeWo}}"</ion-row>
       <ion-row><ion-icon name="navigate-outline"> </ion-icon> {{work.statusDescription}} </ion-row>
      </ion-card-content>
    </ion-grid>
  </ion-card>
</ion-content>
