<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align:center ">
  <ion-item>Welcome Here</ion-item>
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-card  padding color="primary"  href="/po-approval">
         
           <ion-icon name="walk" class="wel-icon"></ion-icon>
           <ion-card-content>PO Approval</ion-card-content>
        
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card  padding color="primary" href="/wo-order" >
          
           <ion-icon  name="bag-check-sharp" class="wel-icon"></ion-icon>
           <ion-card-content>Manage my Work Order</ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
