<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title> Order Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-content>{{poOrders.entityNameShipTo}}</ion-card-content>
      <ion-card-subtitle>{{poOrders.documentOrderTypeCode}}-{{poOrders.documentOrderInvoiceNumber}}
      </ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button color="success">Accept</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button color="danger">Decline</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="order" color="secondary">
      <ion-segment-button value="order">
        <ion-label>Order</ion-label>
      </ion-segment-button>
      <ion-segment-button value="details">
        <ion-label>Details</ion-label>
      </ion-segment-button>
      <ion-segment-button value="notes">
        <ion-label>Notes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-card *ngIf="selectedSegment=='order'">
    <ion-grid>
      <ion-item>
        <ion-row>
          <ion-col size="6">
            <ion-text>
              Originator
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text>
              {{poOrders.entityNameOriginator}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item>
        <ion-row>
          <ion-col size="6">
            <ion-text>
              Total Amount
            </ion-text>
          </ion-col>
          <ion-col size="6">
            <ion-text>
              {{poOrders.currencyCodeForeign}} {{poOrders.currencyCodeForeignDecimals}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-label>
          Branch Plant
        </ion-label>
        <ion-label>
          {{poOrders.documentCompanyKeyOrderNo}}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Requested Date
        </ion-label>
        <ion-label>
          {{poOrders.dateRequested}}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          Transaction Date
        </ion-label>
        <ion-label>
          {{poOrders.dateTransaction}}
        </ion-label>
      </ion-item>
    </ion-grid>
  </ion-card>

  <ion-content *ngIf="selectedSegment=='details'">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            Item Desc.
          </ion-col>
          <ion-col size="2">
            Qty. Ordered
          </ion-col>
          <ion-col size="2">
            Unit COst (USD)
          </ion-col>
          <ion-col size="3">
            Total Cost(USD)
          </ion-col>
          <ion-col size="2">
            Rem.
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of poDetails">
          <ion-col size="3">
            {{item.descriptionLine1}}
            <!-- Filter,Ass,Tubing,PES,0.1um -->
          </ion-col>
          <ion-col size="2">
            {{item.unitsTransactionQty}}
            <!-- 200 -->
          </ion-col>
          <ion-col size="2">
            {{item.purchasingUnitPrice}}
            <!-- 35 -->
          </ion-col>
          <ion-col size="3">
            {{item.unitsTransactionQty*item.purchasingUnitPrice}}
            <!-- 7000 -->
          </ion-col>
          <ion-col size="2">
            <ion-icon name="pencil"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item>
            Total Amount: 4000
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>

  <ion-content *ngIf="selectedSegment=='notes'">
    <ion-item class="ion-text-end">
      <ion-icon name="add-circle-sharp"   (click)="openNotesPopOver($event)" ></ion-icon>
    </ion-item>
    <ion-card>
      <ion-grid>
        <ion-row color="secondary">
          <ion-col>
            Type
          </ion-col>
          <ion-col>
            Item Name
          </ion-col>
          <ion-col>
            Date
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Type1
          </ion-col>
          <ion-col>
            Item Name 1
          </ion-col>
          <ion-col>
            Date 1
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col>
            Type 2
          </ion-col>
          <ion-col>
            Item Name 3
          </ion-col>
          <ion-col>
            Date 2
          </ion-col>
        </ion-row> -->
      </ion-grid>

    </ion-card>
  </ion-content>
</ion-content>